@model List<Article>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Theme</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
            <th scope="col">CreationDate</th>
            <th scope="col">EditionDate</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Article article in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@article.Id</td>
                <td>@article.Theme</td>
                <td>@article.Author</td>
                <td>@article.Content</td>
                <td>@article.CreatedAt</td>
                <td>@article.EditedAt</td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@article.Id">Details</a>
                
                    <a class="btn btn-danger" asp-action="RemoveArticle" asp-route-id="@article.Id" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')">Supprimer</a>
                </td>

            </tr>
        }
    </tbody>
</table>